{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <!-- About us 1 -->

    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-4 offset-sm-1">
                <div>
                    <h1 class="my-5 display-5 text-uppercase">{% trans %}About us{% endtrans%}</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        culpa, placeat odio beatae esse, ratione aut reprehenderit eos et
                        ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus fugiat
                        quam officiis?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 2 -->

    <div class="container-fluid my-5 bg-secondary">
        <div class="row">
            <div class="col-md-6 col-xxl-4 g-0">
                <img
                        src="{{ asset('build/img/img/adriaticXL.jpg') | imagine_filter('scale') }}"
                        class="img-fluid"
                        style="height: 370px"
                        alt="..."
                />
            </div>
            <div class="col-md-4 offset-md-1 col-xxl-6 offset-xxl-1">
                <div>
                    <h2 class="my-5 display-5 text-uppercase">{% trans %}Our heritage{% endtrans%}</h2>
                    <p class="pb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        culpa, placeat odio beatae esse, ratione aut reprehenderit eos et
                        ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus fugiat
                        quam officiisi?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 3 -->

    <div class="container-fluid my-5 py-5">
        <div data-aos="flip-up" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Development{% endtrans%}</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Development{% endtrans%}</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Development{% endtrans%}</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 4 -->

    <div class="container-fluid my-5 py-5 bg-dark text-white">
        <div data-aos="zoom-in" class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">4</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Countries{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">17</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Cities{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">24</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Agencies{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">137</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Ads{% endtrans%}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Carousel Last Properties -->
    <div class="text-center my-5 pt-5">
        <h2 class="display-5 text-uppercase">{% trans %}Discover the latest real estates{% endtrans%}</h2>
    </div>
    <div class="container text-center my-5 py-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for property in properties %}
                    <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <a href="{{ path('properties_details', {'slug': property.slug}) }}">
                                <div class="card px-2 pt-2 rounded-0">
                                    <img
                                            src="{{ asset('uploads/property/' ~ property.images.last.name)| imagine_filter('medium') }}"
                                            class="card-img-top rounded-0"
                                            alt="{{ property.images.last.name }}"
                                            style="height: 200px"
                                    >
                                    <div class="card-body">
                                        <div class="py-3">
                                            <p class="card-text text-center display-6 fs-6 fw-normal">
                                                <i class="fa-solid fa-ruler-combined"></i> {{ property.area }} {% trans %}sq2{% endtrans%}
                                            </p>
                                            <p class="card-text text-center display-6 fs-6 fw-normal">
                                                <i class="fa-solid fa-person-shelter"></i> {{ property.totalRooms }} &nbsp; · &nbsp; <i class="fa-solid fa-bed"></i> {{ property.totalBedrooms }} &nbsp; · &nbsp; <i class="fa-solid fa-shower"></i> {{ property.totalBathrooms }}
                                            </p>
                                            <p class="text-center display-6 fs-5">
                                                {{ property.city.country }} · {{ property.city }}
                                            </p>
                                            <p class="card-text text-center display-6 fs-1 fw-bold gradient-property">
                                                {{ property.price|number_format(0, '.', ',') }} €
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('carousel-multiitems') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('carousel-multiitems') }}
{% endblock %}