{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}


    <section
            class="my-5"
    >
        <div class="mask d-flex align-items-center">
            <div class="container h-100">
                <div
                        class="row d-flex justify-content-center align-items-center h-100"
                >
                    <div class="col-12 col-md-9 col-lg-8">
                        <div class="card rounded-0">
                            <div class="card-body p-5">
                                <h1 class="text-uppercase text-center mb-5">
                                    {% trans %}SIGN IN{% endtrans%}
                                </h1>
                                <div class="text-center border-bottom mb-4">
                                    <p class="text-center pb-2 mb-0">
                                        {% trans %}First time ?{% endtrans%}
                                        <a href="{{ path('app_register') }}" class="fw-bold text-body text-uppercase"
                                        ><u>{% trans %}Register here{% endtrans%}</u></a
                                        >
                                    </p>
                                </div>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            {% trans %}You are logged in as {% endtrans%} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans%}</a>
                                        </div>
                                    {% endif %}


                                    <label for="inputUsername">{% trans %}Username{% endtrans%}</label>
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" autocomplete="username" required autofocus>
                                    <label for="inputPassword">{% trans %}Password{% endtrans%}</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control mb-5" autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >

                                    <div class="text-center">
                                        <button class="container btn btn-primary rounded-0 text-uppercase" type="submit">
                                            {% trans %}Sign In{% endtrans%}
                                        </button>
                                    </div>
                                </form>
                                <div class="text-center mb-5">
                                    <p class="text-center mt-5 mb-0">
                                        {% trans %}Have you forgot your password ?{% endtrans%}
                                        <a href="{{ path('app_forgot_password_request') }}" class="fw-bold text-body text-uppercase"
                                        >{% trans %}Click here{% endtrans%}</a
                                        >
                                    </p>
                                </div>

                                <div class="text-center mt-4">
                                    <img src="{{ asset('img/logo/adriaticante.png') }}" alt="logo" height="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






{% endblock %}
