{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}



{% block body %}

    <!-- CAROUSEL -->

               <div
                       id="carouselExampleIndicators"
                       class="carousel slide minHeightCarousel"
                       data-bs-ride="carousel"
               >
                   <div class="carousel-indicators ">
                       <button
                               type="button"
                               data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="0"
                               class="active"
                               aria-current="true"
                               aria-label="Slide 1"
                       ></button>
                       <button
                               type="button"
                               data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="1"
                               aria-label="Slide 2"
                       ></button>
                       <button
                               type="button"
                               data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="2"
                               aria-label="Slide 3"
                       ></button>
                   </div>
                   <div class="carousel-inner">
                       <div class="carousel-item active minHeightCarousel">
                           <img
                                   src="{{ asset('build/img/img/adriatic1.jpg') }}"
                                   class="d-block w-100 minHeightCarousel"
                                   alt="adriatic"
                           />
                       </div>
                       <div class="carousel-item minHeightCarousel">
                           <img
                                   src="{{ asset('build/img/img/adriatic2.jpg') }}"
                                   class="d-block w-100 minHeightCarousel"
                                   alt="adriatic"
                           />
                       </div>
                       <div class="carousel-item minHeightCarousel">
                           <img
                                   src="{{ asset('build/img/img/adriatic2.jpg') }}"
                                   class="d-block w-100 minHeightCarousel"
                                   alt="adriatic"
                           />
                       </div>
                   </div>
                   <button
                           class="carousel-control-prev"
                           type="button"
                           data-bs-target="#carouselExampleIndicators"
                           data-bs-slide="prev"
                   >
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Previous</span>
                   </button>
                   <button
                           class="carousel-control-next"
                           type="button"
                           data-bs-target="#carouselExampleIndicators"
                           data-bs-slide="next"
                   >
                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Next</span>
                   </button>
               </div>

    <!-- DISCOVER -->
    <div class="text-center my-5">
        <h1 class="display-4 text-uppercase">{% trans %}Discover{% endtrans%}</h1>
    </div>
    <div class="container-fluid my-5">
        <div class="container">
            <div class="row text-uppercase">
                <div data-aos="fade-right"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-1 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('build/img/img/dubrovnik1.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">{% trans %}Croatia{% endtrans%}</p>
                                    <button class="btn btn-outline-light rounded-0 my-4 text-uppercase">
                                        {% trans %}Discover{% endtrans%}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-2 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('build/img/img/ljubljana1.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">{% trans %}Slovenia{% endtrans%}</p>
                                    <button class="btn btn-outline-light rounded-0 my-4 text-uppercase">
                                        {% trans %}Discover{% endtrans%}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-1 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('build/img/img/triesteM.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">{% trans %}Italy{% endtrans%}</p>
                                    <button class="btn btn-outline-light rounded-0 my-4 text-uppercase">
                                        {% trans %}Discover{% endtrans%}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-2 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('build/img/img/kotor1.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">{% trans %}Montenegro{% endtrans%}</p>
                                    <button class="btn btn-outline-light rounded-0 my-4 text-uppercase">
                                        {% trans %}Discover{% endtrans%}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- GRADIENTCONTAINER -->

    <div class="container-fluid gradientContainerTop"></div>

    <!-- EXPLORER -->

    {% include('home/components/_explorer.html.twig') %}

    <!-- GRADIENTCONTAINERBOTTON -->

    <div class="container-fluid gradientContainerBottom"></div>

    <!-- LAST PROPERTIES -->

    {% include('home/components/_lastProperties.html.twig') %}

    <!-- ABOUT -->

    {% include('home/components/_about.html.twig') %}

    <!-- CONTACT -->

    {% include('home/components/_contact.html.twig') %}





{% endblock %}
