{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}



{% block body %}

    <!-- CAROUSEL -->

    <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
    >
        <div class="carousel-indicators">
            <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
            ></button>
            <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
            ></button>
            <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active minHeightCarousel">
                <img
                        src="img/img/adriatic2.jpg"
                        class="d-block w-100 minHeightCarousel"
                        alt="adriatic"
                />
            </div>
            <div class="carousel-item">
                <img
                        src="{{ asset('img/img/adriatic2.jpg') }}"
                        class="d-block w-100 minHeightCarousel"
                        alt="adriatic"
                />
            </div>
            <div class="carousel-item">
                <img
                        src="img/img/adriatic2.jpg"
                        class="d-block w-100 minHeightCarousel"
                        alt="adriatic"
                />
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- DISCOVER -->
    <div class="text-center my-5">
        <h1 class="display-4">DISCOVER</h1>
    </div>
    <div class="container-fluid my-5">
        <div class="container">
            <div class="row">
                <div data-aos="fade-right"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-1 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('img/img/dubrovnik1.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">CROATIA</p>
                                    <button class="btn btn-outline-light rounded-0 my-4">
                                        DISCOVER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-2 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('img/img/ljubljana1.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">SLOVENIA</p>
                                    <button class="btn btn-outline-light rounded-0 my-4">
                                        DISCOVER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-1 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('img/img/triesteM.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">ITALY</p>
                                    <button class="btn btn-outline-light rounded-0 my-4">
                                        DISCOVER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left"
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-4 offset-xl-2 my-4"
                >
                    <div class="card bg-dark text-white rounded-0 border-0">
                        <div class="inner">
                            <img
                                    src="{{ asset('img/img/kotor1.jpg') }}"
                                    class="card-img"
                                    style="height: 240px; width: 100%"
                                    alt="..."
                            />
                            <div class="card-img-overlay rounded-0 gradient-custom-4">
                                <div class="text-center my-4">
                                    <p class="card-title display-5 text-center">MONTENEGRO</p>
                                    <button class="btn btn-outline-light rounded-0 my-4">
                                        DISCOVER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- GRADIENTCONTAINER -->

    <div class="container-fluid gradientContainerTop"></div>

    <!-- EXPLORER -->

    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="text-center py-5">
                <h2 class="display-4">EXPLORER</h2>
            </div>
            <div class="row mt-5">
                <div
                        class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-1 my-4"
                >
                    <div data-aos="fade-right" class="container text-center">

                        <i class="fa-solid fa-building fa-10x"></i>
                    </div>
                </div>
                <div
                        class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-2 my-4"
                >
                    <div data-aos="fade-left" class="container text-center">
                        <p class="fs-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                            laboriosam perspiciatis iusto illum rem vel, alias adipisci
                            quibusdam sit mollitia esse assumenda porro ipsam quis libero
                            architecto hic, ducimus veritatis.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div
                            class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-1 my-4"
                    >
                        <div data-aos="fade-right" class="container text-center">
                            <p class="fs-5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                                laboriosam perspiciatis iusto illum rem vel, alias adipisci
                                quibusdam sit mollitia esse assumenda porro ipsam quis libero
                                architecto hic, ducimus veritatis.
                            </p>
                        </div>
                    </div>
                    <div
                            class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-2 my-4"
                    >
                        <div data-aos="fade-left" class="container text-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="180"
                                    height="180"
                                    fill="currentColor"
                                    class="bi bi-activity"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"
                                />
                            </svg>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div
                                class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-1 my-4"
                        >
                            <div data-aos="fade-right" class="container text-center">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="180"
                                        height="180"
                                        fill="currentColor"
                                        class="bi bi-activity"
                                        viewBox="0 0 16 16"
                                >
                                    <path
                                            fill-rule="evenodd"
                                            d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div
                                class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-2 my-4"
                        >
                            <div data-aos="fade-left" class="container text-center">
                                <p class="fs-5">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Atque laboriosam perspiciatis iusto illum rem vel, alias
                                    adipisci quibusdam sit mollitia esse assumenda porro ipsam
                                    quis libero architecto hic, ducimus veritatis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GRADIENTCONTAINERBOTTON -->

    <div class="container-fluid gradientContainerBottom"></div>

    <!-- LAST PROPERTIES -->

    {% include('home/components/lastProperties.html.twig') %}

    <!-- ABOUT -->

    {% include('home/components/about.html.twig') %}

    <!-- CONTACT -->

    {% include('home/components/contact.html.twig') %}



    <!-- NEWSLETTER -->


    <div class="container-fluid my-5">
        <div class="container">
            <div class="text-center py-5">
                <h1 class="display-4">NEWSLETTER</h1>
            </div>
        </div>
        <div class="row">
            <div
                    class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center"
            >
                <form>
                    <div class="mb-3">
                        <input
                                type="email"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                placeholder="EMAIL"
                        />
                    </div>

                    <div
                            class="col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2 form-check"
                    >
                        <input
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                        />
                        <label class="form-check-label fontNewsletter" for="exampleCheck1"
                        >You agree to receive our latest blog posts</label
                        >
                    </div>
                    <div
                            class="col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2 form-check"
                    >
                        <input
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                        />
                        <label class="form-check-label fontNewsletter" for="exampleCheck1"
                        >You agree to receive advertisements from our partners</label
                        >
                    </div>
                    <button type="submit" class="btn btn-primary rounded-0 mt-3">
                        SIGN UP
                    </button>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
