{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



    <section class="my-5"
    >
        <div class="mask d-flex align-items-center">
            <div class="container h-100">
                <div
                        class="row d-flex justify-content-center align-items-center"
                >
                    <div class="col-12">
                        <div class="card rounded-0">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">
                                    {% trans %}Create an account{% endtrans%}
                                </h2>

                                {{ form_start(registrationForm) }}

                                <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                        {{ form_row(registrationForm.company) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(registrationForm.email) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(registrationForm.username) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(registrationForm.lastname) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(registrationForm.firstname) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(registrationForm.plainPassword.first) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(registrationForm.plainPassword.second) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        {{ form_row(registrationForm.agreeTerms) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        {{ form_row(registrationForm.file) }}
                                    </div>
                                </div>
                                <button type="submit" class="container text-center btn btn-primary rounded-0 text-uppercase">{% trans %}Register{% endtrans%}
                                </button>

                                {{ form_end(registrationForm) }}
                                <div class="text-center mt-4">
                                    <img src="{{ asset('img/logo/adriaticante.png') }}" alt="logo" height="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
