{% extends 'base.html.twig' %}

{% block title %}Register Particular{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div>
                <div class="text-{{ label }} border border-{{ label }} text-center rounded flash-{{ label }}">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}



    <section class="my-5"
    >
        <div class="mask d-flex align-items-center">
            <div class="container h-100">
                <div
                        class="row d-flex justify-content-center align-items-center"
                >
                    <div class="col-12">
                        <div class="rounded-0">
                            <div class="card-body p-5">
                                <h1 class="display-5 text-uppercase text-center pb-5 border-bottom">
                                    {% trans %}Create an particular account{% endtrans%}
                                </h1>

                                {{ form_start(registrationForm) }}


                                <div>
                                    <h2 class="display-6 text-uppercase text-center py-5 border-bottom">
                                        {% trans %}Personal details{% endtrans%}
                                    </h2>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.email) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.username) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.lastname) }}</div>
                                        </div>
                                        <div class="col-md-6 col-xl-3  display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.firstname) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.plainPassword.first) }}</div>
                                        </div>
                                        <div class="col-md-6 col-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.plainPassword.second) }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h2 class="display-6 text-uppercase text-center py-5 border-bottom">
                                        {% trans %}Address{% endtrans%}
                                    </h2>
                                    <div class="row">
                                        <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.street_number) }}</div>
                                        </div>
                                        <div class="col-md-6 col-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.street_address_line_1) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.street_address_line_2) }}</div>
                                        </div>
                                        <div class="col-md-6 col-xl-3  display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.county) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.state_zip_code) }}</div>
                                        </div>
                                        <div class="col-md-6 col-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.city) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.country) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 col-xl-2 offset-xl-3 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.dialCode) }}</div>
                                        </div>
                                        <div class="col-8 col-xl-4 display-6 text-uppercase fs-6 py-4 my-1">
                                            <div>{{ form_row(registrationForm.address.phone) }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            {{ form_row(registrationForm.agreeTerms) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 offset-md-3">
                                        {{ form_row(registrationForm._token) }}
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-3 my-4">
                                    <button type="submit" class="container text-center btn btn-primary rounded-0 text-uppercase">{% trans %}Register{% endtrans%}
                                    </button>
                                </div>

                                {{ form_end(registrationForm, {render_rest: false}) }}
                                <div class="text-center mt-5">
                                    <img src="{{ asset('build/img/logo/Logo.svg') }}" alt="logo" height="44" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
