<div class="container-fluid px-5">
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="{{ path('home') }}" class="navbar-brand"
        ><img src="{{ asset('img/logo/adriaticante.png') }}" alt="logo" width="180" height="45"
            /></a>
        <button
                class="navbar-toggler border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <img src="{{ asset('img/icon/menu.png') }}" alt="menu" height="30" />
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
                <li><a href="{{ path('properties') }}" class="nav-link display-5 fs-6 fw-normal">REAL ESTATE</a></li>
                <li><a href="{{ path('about') }}" class="nav-link display-5 fs-6 fw-normal">ABOUT US</a></li>
                <li><a href="#" class="nav-link display-5 fs-6 fw-normal">CONTACT</a></li>
                {% if is_granted('ROLE_USER') %}
                <li>
                    <div class="dropdown">
                        <p
                                class="nav-link dropdown-toggle display-5 fs-6 fw-normal"
                                id="dropdownMenuButton1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            PROFILE
                        </p>
                        <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item fs-6 text-uppercase" href="{{ path('profile') }}"
                                >edit profil</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item fs-6 text-uppercase" href="{{ path('user_properties') }}"
                                >My Real Estate</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item fs-6 text-danger text-uppercase" href="{{ path('app_logout') }}"
                                >Logout</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                    <a href="{{ path('properties_create') }}"><button class="btn btn-primary rounded-0 ms-2 text-uppercase">New real estate</button></a>
                {% else %}
                <a href="{{ path('app_login') }}"><button class="btn btn-primary rounded-0 ms-2">SIGN IN</button></a>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>