{{ form_widget(form._token) }}
        {{ form_errors(form) }}

<div class="row">
    <div class="col-md-4 offset-md-4">{{ form_row(form.advertType) }}</div>
</div>
<div class="text-center my-5 border-bottom">
    <h2 class="display-6">{% trans %}Real Estate Informations{% endtrans%}</h2>
</div>
<div class="row">
    <div>{{ form_row(form.name) }}</div>
</div>
<div class="row">
    <div class="col-6">{{ form_row(form.price) }}</div>
    <div class="col-6">{{ form_row(form.area) }}</div>
</div>
<div class="row">
    <div>{{ form_row(form.description) }}</div>
</div>
<div class="row">
    <div class="col-4">{{ form_row(form.type) }}</div>
    <div class="col-4">{{ form_row(form.country) }}</div>
    <div class="col-4">{{ form_row(form.city) }}</div>
</div>
<div class="row">
    <div class="col-4">{{ form_row(form.totalRooms) }}</div>
    <div class="col-4">{{ form_row(form.totalBathrooms) }}</div>
    <div class="col-4">{{ form_row(form.totalBedrooms) }}</div>
</div>
<!-- Asset -->
<div class="text-center my-5 border-bottom">
    <h2 class="display-6">{% trans %}Features{% endtrans%}</h2>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">{{ form_row(form.features) }}</div>
</div>

<div class="text-center my-5 border-bottom">
    <h2 class="display-6">{% trans %}Agency Informations{% endtrans%}</h2>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">{{ form_row(form.linkWebsite) }}</div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">{{ form_row(form.nameContact) }}</div>
    <div class="col-md-4">{{ form_row(form.phoneContact) }}</div>
</div>
<div class="text-center my-5 border-bottom">
    <h2 class="display-6">{% trans %}Upload Files{% endtrans%}</h2>
</div>
<div class="row">
    <p class="text-center display-6 fs-5">Click the button for each new feature</p>
    <button type="button" class="col-md-6 offset-md-3 container text-center btn btn-primary rounded-0 my-4 text-uppercase btn-new" data-collection="#images">{% trans %}Add images{% endtrans%}
    </button>
    {{ form_errors(form.images) }}
</div>

<div class="row">
    <div
            id="images"
            data-prototype="{{ include('property/_image.html.twig', {form: form.images.vars.prototype})|e("html_attr") }}"
            data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}">
        {% for image in form.images %}

            {{ include('property/_image.html.twig', {form: image}) }}

        {% endfor %}
    </div>
</div>
<div class="text-center my-5 border-bottom">
    <h2 class="display-6">{% trans %}Captcha{% endtrans%}</h2>
</div>
<div class="row">
    <div class="col-8 col-md-4 offset-2 offset-md-4 text-center">{{ form_row(form.captcha) }}</div>
</div>

<div class="text-center my-5 border-bottom">
</div>
