{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid my-5">
        <div class="container">
            <div
                    id="carouselExampleIndicators"
                    class="carousel slide"
                    data-bs-ride="carousel"
            >
                <div class="carousel-indicators">
                    {% for image in property.images %}
                    <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                    ></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in property.images %}
                        <div class="carousel-item active ratio ratio-16x9">
                            <img
                                    src="{{ asset('uploads/property/' ~ image.name) | imagine_filter('medium')  }}"
                                    class="d-block w-100"
                                    alt="adriatic"
                            />
                        </div>
                    {% endfor %}
                </div>
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                {% for image in property.images %}
                <div class="col-2 my-1">
                    <div class="ratio ratio-16x9" data-controller="lightbox">
                        {% for image in property.images|sort|reverse %}
                            <a href="{{ asset('uploads/property/' ~ image.name) }}">
                                <img
                                        alt="{{ image.id }}"
                                        src="{{ asset('uploads/property/' ~ image.name) | imagine_filter('medium') }}"
                                        class="imageProperty img-thumbnail rounded-0"
                                />
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="display-5">{{ property.name|upper }}</h1>
            </div>
            <div class="row border-bottom">
                <div>
                    <div>
                        <p class="fs-5"><i class="fa-solid fa-euro-sign"></i>&nbsp; {{ property.price }}</p>
                        <p class="fs-5"><i class="fa-solid fa-ruler-combined"></i>&nbsp; {{ property.area }} {% trans %}sq2{% endtrans%}</p>
                        <p class="fs-5"><i class="fa-solid fa-calculator"></i>&nbsp; {{ priceArea|number_format(0) }} {% trans %}€/ sq2{% endtrans%}</p>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_USER') and app.user is not same as property.user %}
            <div class="my-4">
                <button onclick="toggle()" class="btn btn-primary rounded-0 shadow-none">CONTACT</button>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div>
                        <div class="text-{{ label }} border border-{{ label }} text-center rounded flash-{{ label }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            <!-- FORM -->
            <div id="contactForm" style="display: none">
                {% if is_granted('ROLE_USER') %}
                    {{ form_start(messageForm) }}
                    <div class="row">
                        <div class="col-md-8 col-xxl-6 my-2">
                            <label for="exampleFormControlInput1" class="form-label">Title</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Message from {{ app.user.username }} for {{ property.name }}" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xxl-6">{{ form_row(messageForm.message) }}</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary rounded-0 text-uppercase">{% trans %}Send{% endtrans%}&ensp;<i class="fa-regular fa-paper-plane"></i></button>
                    </div>
                    {{ form_end(messageForm) }}
                {% else %}
                    <div class="row">
                        <div class="col border-bottom text-center">
                            <p class="display-6 fs-5">{% trans %}You must be logged in to send a message.{% endtrans %}</p>
                            <a href="{{ path('app_login') }}"><button class="btn btn-primary rounded-0 text-uppercase my-4">{% trans %}Sign in{% endtrans%}</button></a>
                        </div>
                    </div>

                {% endif %}
            </div>
            {% endif %}


            <div class="my-5">
                <h3 class="display-6">{% trans %}Features{% endtrans%}</h3>
            </div>
            <div class="row border-bottom">
                {% for feature in property.features %}
                <div class="col-4">
                    <p class="text-uppercase">{{ feature.name }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="my-5">
                <h3 class="display-6">{% trans %}Description{% endtrans%}</h3>
            </div>
            <div class="row border-bottom">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab
                        aliquam magnam voluptates unde labore eos deleniti porro suscipit
                        quo, rem consequatur, similique vitae. Doloribus adipisci sequi
                        sunt hic unde ullam. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Ab aliquam magnam voluptates unde labore eos
                        deleniti porro suscipit quo, rem consequatur, similique vitae.
                        Doloribus adipisci sequi sunt hic unde ullam.
                    </p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="my-5">
                    <h3 class="display-6">{% trans %}Others Features{% endtrans%}</h3>
                </div>
                <div class="mb-4 display-6 fs-5">
                    <div class="row">
                        <div class="col-4">Rooms : {{ property.totalRooms }}</div>
                        <div class="col-4">Bedrooms : {{ property.totalBedrooms }}</div>
                        <div class="col-4">Bathrooms : {{ property.totalBathrooms }}</div>
                    </div>
                </div>
            </div>
            <div id="map" class="mt-5" data-controller="map" data-latitude="{{ property.city.latitude }}" data-longitude="{{ property.city.longitude }}"></div>
            <div class="row border-bottom">
                <div class="mt-5 mb-2">
                    <h3 class="display-6">{% trans %}Contact{% endtrans%}</h3>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card rounded-0 shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <p class="card-text display-6 fs-5">{% trans %}Seller{% endtrans%} : {{ property.nameContact }}</p>
                                <p class="card-text display-6 fs-5">{% trans %}Phone{% endtrans%} : {{ property.phoneContact }}</p>
                                <p class="card-text display-6 fs-5">{% trans %}Website{% endtrans%} : <a href="{{ property.linkWebsite|external_link }}" target="_blank" class="text-primary">{{ property.linkWebsite}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <h3 class="display-6">{% trans %}More properties ?{% endtrans%}</h3>
            </div>
            <div class="my-5">
                <button class="btn btn-primary rounded-0 me-2 text-uppercase">{% trans %}Real estate{% endtrans%}</button>
                <button class="btn btn-primary rounded-0 mx-2 text-uppercase">{% trans %}Contact{% endtrans%}</button>
                <button class="btn btn-primary rounded-0 mx-2 text-uppercase">{% trans %}Our services{% endtrans%}</button>
            </div>
        </div>
    </div>


    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script>

        // CONTACT FORM

        function toggle() {
            const x = document.getElementById('contactForm');

            if(x.style.display === "none") {
                x.style.display = "block";
            }else {
                x.style.display = "none";
            }
        }
    </script>

{% endblock %}
{% block title %}

{% endblock %}

