{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center my-5 border-bottom">
        <h2 class="display-4 text-uppercase">{% trans %}Overview{% endtrans%}</h2>
    </div>
    <div class="container">
            <table class="table table-hover text-center">
                <thead>
                <tr class="text-uppercase">
                    <th>Real Estate</th>
                    <th>Price</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody class="text-uppercase">
                {% for property in userProperties %}
                    <tr>
                        <th class="pt-3">{{ property.name }}</th>
                        <th class="pt-3">{{ property.price }}€</th>
                        <td><a href="{{ path('properties_details', {'slug': property.slug}) }}"><button class="btn btn-primary rounded-0 ms-2 text-uppercase">{% trans %}More{% endtrans%}</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

    <div class="container">
        {% for property in userProperties %}
        <div class="row my-4 border-bottom">
            <div class="card border-0 mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('uploads/property/' ~ property.images.last) }}" class="img-fluid rounded-3" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">{{ property.name }}</p>
                            <p class="card-text"><small class="text-muted">{{ property.price }} €</small></p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <a href="{{ path('properties_details', {'slug': property.slug}) }}"><button class="container btn btn-primary rounded-0 text-uppercase">{% trans %}Check{% endtrans%}</button></a>
                            </div>
                            <div class="text-center my-2">
                                <!-- Button trigger modal -->
                                <button type="button" class="container btn btn-danger rounded-0 text-uppercase" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    {% trans %}Delete{% endtrans%}
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">DELETE AD</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to permanently delete this ad?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('properties_delete', {'slug': property.slug}) }}"><button type="button" class="container btn btn-danger rounded-0 ms-2 text-uppercase">{% trans %}Delete{% endtrans%}</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

