{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid my-5">
        <div class="container">
            <div
                    id="carouselExampleIndicators"
                    class="carousel slide"
                    data-bs-ride="carousel"
            >
                <div class="carousel-indicators">
                    {% for file in property.files %}
                    <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                    ></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for file in property.files %}
                        <div class="carousel-item active ratio ratio-16x9">
                            <img
                                    src="{{ asset('uploads/properties/' ~ file.name) }}"
                                    class="d-block w-100"
                                    alt="adriatic"
                            />
                        </div>
                    {% endfor %}
                </div>
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                {% for file in property.files %}
                <div class="col-2 my-1">
                    <div class="ratio ratio-16x9" data-controller="lightbox">
                        {% for file in property.files|sort|reverse %}
                            <a href="{{ asset('uploads/properties/' ~ file.name) }}">
                                <img
                                        alt="{{ file.id }}"
                                        src="{{ asset('uploads/properties/' ~ file.name) }}"
                                        class="imageProperty img-thumbnail rounded-0"
                                />
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="display-5">{{ property.name|upper }}</h1>
            </div>
            <div class="row border-bottom">
                <div>
                    <div>
                        <p class="fs-5">{% trans %}Price{% endtrans%} : {{ property.price }} €</p>
                        <p class="fs-5">{% trans %}Area{% endtrans%} : {{ property.area }} {% trans %}sq2{% endtrans%}</p>
                        <p class="fs-5">{% trans %}Price/Area{% endtrans%} : {{ priceArea|number_format(0) }} {% trans %}€/ sq2{% endtrans%}</p>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <button onclick="toggle()" class="btn btn-primary rounded-0">CONTACT</button>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div>
                        <div class="text-{{ label }} border border-{{ label }} text-center rounded flash-{{ label }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            <!-- FORM -->
            <div id="contactForm" class="mt-4" style="display: none">
                {{ form_start(contactForm) }}
                <div class="row">
                    <div class="col-6">{{ form_row(contactForm.firstname) }}</div>
                    <div class="col-6">{{ form_row(contactForm.lastname) }}</div>
                </div>
                <div class="row">
                    <div class="col-6">{{ form_row(contactForm.email) }}</div>
                    <div class="col-6">{{ form_row(contactForm.phone) }}</div>
                </div><div class="row">
                    <div class="col-12">{{ form_row(contactForm.message) }}</div>
                </div>


                <div class="form-group">
                    <button class="btn btn-primary rounded-0 text-uppercase">{% trans %}Send{% endtrans%}&ensp;<i class="fa-regular fa-paper-plane"></i></button>
                </div>
                {{ form_end(contactForm) }}
            </div>


            <div class="my-5">
                <h3 class="display-6">{% trans %}Features{% endtrans%}</h3>
            </div>
            <div class="row border-bottom">
                {% for feature in property.features %}
                <div class="col-4">
                    <p class="text-uppercase">{{ feature.name }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="my-5">
                <h3 class="display-6">{% trans %}Description{% endtrans%}</h3>
            </div>
            <div class="row border-bottom">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab
                        aliquam magnam voluptates unde labore eos deleniti porro suscipit
                        quo, rem consequatur, similique vitae. Doloribus adipisci sequi
                        sunt hic unde ullam. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Ab aliquam magnam voluptates unde labore eos
                        deleniti porro suscipit quo, rem consequatur, similique vitae.
                        Doloribus adipisci sequi sunt hic unde ullam.
                    </p>
                </div>
            </div>
            <div id="map" class="mt-5" data-controller="map" data-latitude="{{ property.address.latitude }}" data-longitude="{{ property.address.longitude }}"></div>
            <div class="my-5">
                <h3 class="display-6">{% trans %}More properties ?{% endtrans%}</h3>
            </div>
            <div class="my-5">
                <button class="btn btn-primary rounded-0 me-2 text-uppercase">{% trans %}Real estate{% endtrans%}</button>
                <button class="btn btn-primary rounded-0 mx-2 text-uppercase">{% trans %}Contact{% endtrans%}</button>
                <button class="btn btn-primary rounded-0 mx-2 text-uppercase">{% trans %}Our services{% endtrans%}</button>
            </div>
        </div>
    </div>


    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script>

        // CONTACT FORM

        function toggle() {
            const x = document.getElementById('contactForm');

            if(x.style.display === "none") {
                x.style.display = "block";
            }else {
                x.style.display = "none";
            }
        }
    </script>

{% endblock %}
{% block title %}

{% endblock %}

