{% extends 'base.html.twig' %}

{% block title %}Hello PropertiesController!{% endblock %}

{% block body %}

    <div class="text-center my-5">
        <h1 class="display-4">REAL ESTATE</h1>
    </div>

    <div class="container">
        {{ form_start(formSearch) }}
        <div class="row">

            <div class="col-2">
                {{ form_row(formSearch.minArea) }}
            </div>
            <div class="col-2">
                {{ form_row(formSearch.maxPrice) }}
            </div>
            <div class="col-2">

            </div>
            <div class="col-2">

            </div>
            <button type="submit" class="col-2 offset-md-1 container text-center btn btn-primary rounded-0 my-4 text-uppercase">Filter
            </button>
        </div>
            {{ form_end(formSearch) }}
    </div>

    <div class="container-fluid my-5">

        <div class="container">

            <div class="row">
            {% for property in properties %}
                <div
                        class="col-10 offset-1 col-md-6 offset-md-0 col-xl-3 my-4"
                >
                    <div class="card rounded-0">
                        <img
                                src="{{ asset('uploads/properties/' ~ property.files.last.name) }}"
                                class="card-img-top rounded-0"
                                style="height: 200px"
                                alt="..."
                        />
                        <div class="card-body">
                            <h2 class="card-title text-center cardPropertyTitle fs-4 display-6">{{ property.name|upper }}</h2>
                            <div class="cardPropertyDescription">
                                <p class="card-text">
                                    Area : {{ property.area }} m2
                                </p>
                                <p class="card-text">
                                    Rooms : {{ property.totalRooms }}
                                </p>
                                <p class="card-text">
                                    Bedrooms : {{ property.totalBedrooms }}
                                </p>
                                <p class="card-text">
                                    Bathrooms : {{ property.totalBathrooms }}
                                </p>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('properties_details', {'id': property.id}) }}" class="btn btn-primary rounded-0">DISCOVER</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {% do properties.setPageRange(2) %}
            {{ knp_pagination_render(properties, 'base/pagination.html.twig') }}
        </div>
    </div>

{% endblock %}
