{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-sm-6 col-md-4">
                <h1 class="display-4 text-uppercase">{% trans %}Contact{% endtrans%}</h1>
                <p class="py-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A odio
                    accusantium maxime recusandae minus eveniet consequuntur tempora
                    nisi id, aliquam eos consequatur, impedit distinctio hic unde iste,
                    animi amet tempore.
                </p>
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="{{ asset('build/img/img/adriaticXS.jpg') | imagine_filter('medium') }}" class="img-fluid" alt="..." />
            </div>
        </div>
    </div>

    <!-- GRADIENTCONTAINER -->

    <div class="container-fluid gradientContainerTop"></div>

        <!-- FORM -->
    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            {{ form_start(contactForm) }}
            <div class="row">
                <div class="col-6">{{ form_row(contactForm.firstname) }}</div>
                <div class="col-6">{{ form_row(contactForm.lastname) }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form_row(contactForm.email) }}</div>
                <div class="col-6">{{ form_row(contactForm.phone) }}</div>
            </div><div class="row">
                <div class="col-12">{{ form_row(contactForm.message) }}</div>
            </div>


            <div class="form-group my-3">
                <button class="btn btn-primary rounded-0 text-uppercase">{% trans %}Send Message {% endtrans%}&ensp;<i class="fa-regular fa-paper-plane"></i></button>
            </div>
            {{ form_end(contactForm) }}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div>
                        <div class="text-{{ label }} border border-{{ label }} text-center rounded flash-{{ label }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- GRADIENTCONTAINERBOTTON -->

    <div class="container-fluid gradientContainerBottom"></div>

    <div class="container my-5">
        <div class="row align-items-center text-center">
            <div class="col-md-4 my-4 borderItemContact"><i class="fa-solid fa-mobile-screen-button fa-5x"></i><p class="display-6 fs-4 mt-5">+3360102030405</p></div>
            <div class="col-md-4 my-4 borderItemContact"><i class="fa-solid fa-envelope fa-5x"></i><p class="display-6 fs-4 mt-5">adriaticante@contact.com</p></div>
            <div class="col-md-4 my-4"><i class="fa-solid fa-location-arrow fa-5x"></i><p class="display-6 fs-4 mt-5">Trieste</p></div>
        </div>
    </div>

{% endblock %}
