{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-sm-6 col-md-4">
                <h1 class="display-4 text-uppercase">{% trans %}Contact{% endtrans%}</h1>
                <p class="py-3">
                    {% trans %}Don't hesitate to send a message if you are a professional in order to be able to deposit a significant number of announcements or for other reasons.{% endtrans%}
                </p>
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="{{ asset('build/img/img/adriaticXS.jpg') | imagine_filter('medium') }}" class="img-fluid" alt="..." />
            </div>
        </div>
    </div>

    <!-- GRADIENTCONTAINER -->

    <div class="container-fluid gradientContainerTop"></div>

        <!-- FORM -->
    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            {{ form_start(contactForm) }}
            <div class="row">
                <div class="col-6">{{ form_row(contactForm.firstname) }}</div>
                <div class="col-6">{{ form_row(contactForm.lastname) }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form_row(contactForm.email) }}</div>
                <div class="col-6">{{ form_row(contactForm.phone) }}</div>
            </div><div class="row">
                <div class="col-12">{{ form_row(contactForm.message) }}</div>
            </div>


            <div class="form-group my-3">
                <button class="btn btn-primary rounded-0 text-uppercase">{% trans %}Send Message {% endtrans%}&ensp;<i class="fa-regular fa-paper-plane"></i></button>
            </div>
            {{ form_end(contactForm) }}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div>
                        <div class="text-{{ label }} border border-{{ label }} text-center rounded flash-{{ label }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- GRADIENTCONTAINERBOTTON -->

    <div class="container-fluid gradientContainerBottom"></div>

    <div class="container my-5">
        <div class="row align-items-center text-center">
            <div class="col-md-6 col-xl-3 my-4 borderItemContact"><a href="https://www.instagram.com/adriaticante/" target="_blank"><i class="fa-brands fa-instagram fa-5x"></i></a><p class="display-6 fs-4 mt-5">@Adriaticante</p></div>
            <div class="col-md-6 col-xl-3 my-4 borderItemContact"><a href="https://www.linkedin.com/in/adriaticante-real-estate-708a74239/" target="_blank"><i class="fa-brands fa-linkedin-in fa-5x"></i></a><p class="display-6 fs-4 mt-5">Adriaticante Real Estate</p></div>
            <div class="col-md-6 col-xl-3 my-4 borderItemContact"><a href=mailto:contact@adriaticante.com"><i class="fa-solid fa-envelope fa-5x"></i></a><p class="display-6 fs-4 mt-5">adriaticante@contact.com</p></div>
            <div class="col-md-6 col-xl-3 my-4"><a href="https://www.google.com/maps/place/Trieste,+Italie/@45.6522988,13.7136222,12z/data=!3m1!4b1!4m5!3m4!1s0x477b6b06e4edf533:0x666a2484d4dd2b50!8m2!3d45.6495264!4d13.7768182" target="_blank"><i class="fa-solid fa-location-arrow fa-5x"></i></a><p class="display-6 fs-4 mt-5">Trieste, Italy</p></div>
        </div>
    </div>

{% endblock %}
