{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="text-center my-5 border-bottom">
            <h1 class="display-3">{% trans %}Messages{% endtrans%}</h1>
        </div>
        <div class="text-center my-5">
            <h2 class="display-6">{% trans %}You have{% endtrans%} {{ threads|length }} {% trans %}message{% endtrans %}{% if threads|length > 1 %}s{% endif %}.</h2>
        </div>
        <div class="text-center my-4">
            <a class="btn btn-primary text-uppercase rounded-0 shadow-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                {% trans %}Inbox{% endtrans%}
            </a>
        </div>

        {% for thread in threads %}
        <div class="row border-bottom">
            <div class="col-lg-10 offset-lg-1">
                <a href="{{ path('messages_thread', {'title': thread.title}) }}">
                    <div class="card my-3">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{{ asset('uploads/property/' ~ thread.property.images.last) }}" class="img-fluid rounded-start" alt="{{ thread.property.images.last }}">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ thread.property.name }}</h5>
                                    <p class="card-text">{{ thread.property.description|u.truncate(100, ' ...') }}</p>
                                    <p class="card-text"><small class="text-muted">{{ thread.messages.last.createdAt.format('d/m/Y') }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}


        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title display-6" id="offcanvasExampleLabel">{% trans %}All Inboxes{% endtrans %}</h5>
                <button type="button" class="btn-close text-reset shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group">
                    <a href="{{ path('messages') }}">
                        <li class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                            {% trans %}Home{% endtrans %}
                            {% if threads|length > 0 %}
                                <span class="badge bg-secondary text-primary ms-1"><i class="fa-regular fa-bell"></i></span>
                            {% endif %}
                        </li>
                    </a>
                    <a href="#">
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {% trans %}Inbox{% endtrans %}
                            {% if threads|length > 0 %}
                                <span class="badge bg-secondary rounded-3 text-primary">{{ threads|length }}</span>
                            {% endif %}
                        </li>
                    </a>
                    <a href="{{ path('thread') }}">
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {% trans %}Threads{% endtrans %}
                        </li>
                    </a>
                </ul>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-primary text-uppercase rounded-0 shadow-none my-4" data-bs-dismiss="offcanvas" aria-label="Close">
                        {% trans %}Return{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
