{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="text-center my-5 border-bottom">
            <h1 class="display-3">{% trans %}Messages as purchaser{% endtrans%}</h1>
        </div>
        <div class="text-center my-4">
            <a class="btn btn-primary text-uppercase rounded-0 shadow-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                {% trans %}Inbox{% endtrans%}
            </a>
        </div>

        {% for thread in threads %}
            {% set date = thread[2] %}
            {% set countMessages = thread[1] %}
            {% set thread = thread[0] %}
            <div class="row border-bottom">
                <div class="col-lg-10 offset-lg-1">
                    <a href="{{ path('messages_thread', {'title': thread.title}) }}">
                        <div class="card my-3">
                            <div class="row g-0">
                                <div class="col-4">
                                    <img src="{{ asset('uploads/property/' ~ thread.property.images.last) | imagine_filter('medium')  }}" class="img-fluid rounded-start" alt="{{ thread.property.images.last }}" style="height: 250px">
                                    <div class="card-img-overlay">
                                        <span
                                                class="badge text-uppercase rounded-0 py-2 display-6 fs-6 fw-normal"
                                                style="background: linear-gradient(120deg,#c3e1e6 1%,#263238 50%, #c3e1e6 99%)"
                                        >{% if countMessages != 0 %}Not read{% endif %}</span
                                        >
                                    </div>
                                </div>
                                <div class="d-flex align-items-center c col-8">
                                    <div class="card-body">
                                        <h5 class="card-title pb-3">Name : {{ thread.property.name }} {{ thread.id }}</h5>
                                        <p>From : {{  thread.property.user.username }}</p>
                                        <p class="card-text">Description : {{ thread.property.description|u.truncate(100, ' ...') }}</p>
                                        <p class="card-text"><small class="text-muted">{{ date }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}


        {{ include('message/_inbox.html.twig') }}
    </div>
{% endblock %}