{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="text-center my-5 border-bottom">
                    <h1 class="display-3">{% trans %}Thread{% endtrans%}</h1>
                </div>
                <div class="text-center mb-5">
                    <a class="btn btn-primary text-uppercase rounded-0 shadow-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        {% trans %}Inbox{% endtrans%}
                    </a>
                </div>

                <div class="container border-top">
                    {% for message in messages %}
                        {% if app.user is same as message.sender %}
                            <div class="row my-4">
                                <div class="col-6 offset-6">
                                    <div class="container bg-secondary shadow">
                                        <div class="row border-bottom py-3">
                                            <div class="col-2 col-md-1">
                                                <img src="{{ asset('uploads/user/' ~ message.sender.file) | imagine_filter('icon')  }}" class="rounded-3" style="height: 30px; width: 30px">
                                            </div>
                                            <div class="col-8 col-md-9 display-6 fs-6 mx-2 pt-1">{{ message.sender.username }}</div>
                                        </div>
                                        <div class="row border-bottom py-2">
                                            <div class="col">
                                                {{ message.message }}
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-8">
                                                <p>{{ message.createdAt|format_datetime(locale="{{ locale }}") }}</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="text-end">{% if message.isRead %}<i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-check"></i>{% endif %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row my-4">
                                <div class="col-6">
                                    <div class="container bg-light shadow">
                                        <div class="row border-bottom py-3">
                                            <div class="col-2 col-md-1">
                                                <img src="{{ asset('uploads/user/' ~ message.sender.file)| imagine_filter('medium')  }}" class="rounded-3" style="height: 30px; width: 30px">
                                            </div>
                                            <div class="col-8 col-md-9 display-6 fs-6 mx-2 pt-1">{{ message.sender.username }}</div>
                                        </div>
                                        <div class="row border-bottom py-2">
                                            <div class="col">
                                                {{ message.message }}
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-8">
                                                <p>{{ message.createdAt|format_datetime(locale='{{ locale }}') }}</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="text-end">{% if message.isRead %}<i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-check"></i>{% endif %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="border-top my-4">
                    {{ form_start(answerForm) }}
                    <div class="row my-4">
                        <div class="col-md-8">
                            {{ form_row(answerForm.message, {'value': ''}) }}
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="container btn btn-primary text-uppercase rounded-0 shadow-none">
                                {% trans %}Send{% endtrans %}
                            </button>
                        </div>
                    </div>
                    {{ form_end(answerForm) }}
                </div>



                {{ include('message/_inbox.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}