{% extends 'base.html.twig' %}

{% block title %}Profile Edit{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="text-center py-5">
            <h1 class="display-4">{% trans %}Edit Profile{% endtrans%}</h1>
        </div>
        <div class="row">
            {% if user.file is not null %}
            <div class="col-4 offset-4 mb-5">
                <img
                        src="{{ asset('uploads/user/' ~ user.file)| imagine_filter('scale') }}"
                        class="rounded-3 figure-img img-fluid"
                        alt="{{ user.company }}"
                />
            </div>
            {% endif %}
        </div>
        <div class="my-2">
            <h2 class="display-5">{% trans %}Identity{% endtrans%}</h2>
        </div>
        {{ form_start(profileForm) }}
        <div class="row">
            <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-5 py-4 my-1">
                <div>{{ form_row(profileForm.company) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-5 py-4 my-1">
                <div>{{ form_row(profileForm.lastname) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-5 py-4 my-1">
                <div>{{ form_row(profileForm.firstname) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 display-6 text-uppercase fs-5 py-4 my-1">
                <p onclick="toggleDropzone()" class="text-uppercase">{% trans %}Profile picture{% endtrans%} &nbsp;<i class="fa-solid fa-pen-to-square"></i></p>
                <div id="dropzoneForm" style="display: none">{{ form_row(profileForm.file) }}</div>
            </div>
        </div>
        <div class="my-4">
                    <p class="display-5">{% trans %}Address{% endtrans%}</p>
        </div>
        <div class="my-4">
            <p onclick="toggleAddress()" class="display-5 fs-5">{% trans %}Do you want edit your address ? Click here{% endtrans%} &nbsp;<i class="fa-solid fa-pen-to-square"></i></p>
        </div>
        <div id="addressForm" style="display: none">
            <div class="row">
                <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.street_number) }}</div>
                </div>
                <div class="col-md-6 col-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.street_address_line_1) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.street_address_line_2) }}</div>
                </div>
                <div class="col-md-6 col-xl-3  display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.city) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.state_zip_code) }}</div>
                </div>
                <div class="col-md-6 col-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.country) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.county) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3 offset-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.dialCode) }}</div>
                </div>
                <div class="col-md-6 col-xl-3 display-6 text-uppercase fs-5 py-4 my-1">
                    <div>{{ form_row(profileForm.address.phone) }}</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark btn-lg rounded-0 my-4 text-uppercase">
            {% trans %}Edit Profile{% endtrans%}
        </button>
            {{ form_end(profileForm) }}
    </div>

    <script>
        function toggleAddress() {
            const x = document.getElementById('addressForm');

            if(x.style.display === "none") {
                console.log(x);
                x.style.display = "block";
            }else {
                x.style.display = "none";
            }
        };

        function toggleDropzone() {
            const y = document.getElementById('dropzoneForm');

            if(y.style.display === "none") {
                console.log(y);
                y.style.display = "block";
            }else {
                y.style.display = "none";
            }
        }
    </script>


{% endblock %}
