{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4 my-4">
                <img
                        src="{{ asset('uploads/user/' ~ user.file) }}"
                        class="rounded-3 figure-img img-fluid"
                        alt="..."
                />
            </div>
        </div>
        <div class="text-center">
            <div class="text-center my-4">
                <h1 class="display-5">Identity</h1>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Company</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.company }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Username</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.username }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Email</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.email }}</div>
            </div>
        </div>
        <div class="text-center">
            <div class="text-center my-4">
                <h1 class="display-5">Your contact agency</h1>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Lastname</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.lastname }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Firstname</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.firstname }}</div>
            </div>
        </div>
        <div class="text-center">
            <div class="text-center my-4">
                <h1 class="display-5">Your address</h1>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Street number</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.streetnumber }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">
                    Street address line 1
                </div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.streetaddressline1 }}</div>
            </div><div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">
                    Street address line 2
                </div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.streetaddressline2 }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">City</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.city }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Zip Code</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.statezipcode }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">County</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.county }}</div>
            </div>
            <div class="row my-1">
                <div class="col-5 display-6 fs-5 border py-4 my-1">Country</div>
                <div class="col-2 display-6 fs-4 py-4 my-1">:</div>
                <div class="col-5 display-6 fs-5 border py-4 my-1">{{ user.address.country }}</div>
            </div>
        </div>
        <div class="text-center my-5">
            <a href="{{ path('profile_update') }}">
                <button class="btn btn-dark btn-lg rounded-0 ms-2 mt-2 text-uppercase">
                    EDIT Profile
                </button>
            </a>
        </div>
    </div>

{% endblock %}
